exportClasses("nonmem")
exportMethods("non.lst", "non.lst.meth", "non.lst.term", "non.lst.objt", "non.lst.objv", "non.lst.objs", "non.tab", "non.cor", "non.cov", "non.coi", "non.phi", "non.select" )


exportPattern("^PK")



