body {
	background: #FFFFFF;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: normal
}

.bottomFont
{	
	font-size: 10pt;
}

.center
{
	margin: auto;
	width:30%;
	background-color:white;
}


.figcenter
{
	margin: auto;
	width:50%;
	background-color:white;
}

.right
{
	text-align: right;
}

.subtitle
{
	margin:auto;
	width:30%;
	background-color:#b0e0e6;
}



A {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	text-decoration: none 
}

H1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background: #004080;
	text-align: center;
	margin: 10pt 2.5%
}

H1.main {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20pt;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background: #004080;
	text-align: left;
	margin: 10pt 2.5%
}

H2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background: #000000
}

H2.index {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18pt;
	font-style: normal;
	font-weight: normal;
	color: #FFFFFF;
	background: #000000;
	margin: 10pt 5%
}

H3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14pt;
	font-style: normal;
	font-weight: bold;
	color: #004080
}

H4 {
	font-family: T, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	font-weight: bold;
	color: #000000;
	line-height: 16pt
}

p.subtitle{
	text-align:center;
	background-color:#e0ffff;

}


TR {
	font-family: Arial, Helvetica, Times, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	padding: 0 0
}

TR.firstcolor {
	font-family: Arial, Helvetica, Times, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	padding: 0 0;
	color: blue;
}
TR.secondcolor {
	font-family: Arial, Helvetica, Times, Helvetica, sans-serif;
	font-size: 10pt;
	font-style: normal;
	padding: 10 10;
	color: black;
}

TR.firstline {
	color: green;
	background: white;
	text-align:center;
	font-weight: bold
}
TR.ListBackTitle {
	color: #FFFFFF;
	background: #000000;
	text-align:left;
	font-weight: bold
}
TD {
	background:#FFFFFF;
	padding: 0 0
}
TD.ListBackMain {
	background: #E0E0E0;
	padding: 0 0
}
TD.firstcolumn {
	padding: 5 10;
	background: #C0C0C0;
	text-align:right
}
TD.cellinside {
	padding: 5 10;
	background: #FFFFFF;
	text-align:right
}
